.about__content {
  margin-top: 5vh;
  margin-bottom: 4vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 0 180px;
  min-width: 200px;
  text-align: left;
}

.about__image {
  padding-top: 40px;
}

.App-text-color {
    color: #444341;
}

.video-responsive {
  overflow: visible;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 150px;
}

.video-responsive:iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.about__final-paragraph {
  padding-bottom: 20px;
}

a {
  padding-left: 3px;
  padding-right: 3px;
}