@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

*{
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-content {
  padding: 20px;
  width: 100%;
  max-width: 1080px;
}

.App-footer {
  padding: 20px;
  min-height: 30vh;
  width: 100%;
  background-image: url('../Images/footer2.png');
  background-size: 100% 100%;
}