body {
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content{
  padding: 20px;
}

.App-footer{
  padding: 20px;
}