@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

*{
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-content{
  padding: 20px;
  width: 100%;
  max-width: 1080px;
}

.App-footer{
  padding: 20px;
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('../Images/footer.png');
  background-size: 100% 100%;
}

@media only screen and (max-width: 960px) {
  .main {
    padding-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .supporting img {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .rating h1 {
    font-size: 2rem;
  }

  img {
    width: 100%;
    margin: 0;
  }
  
  footer nav {
    display: none;
  }
}
