.form__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form__input-wrapper {
    display: flex;
    min-width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.form__signup {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(99 99 99);
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form__error {
    color: rgb(99 99 99);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form__button {
    display: flex;
    width: 50%;
    border-radius: 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
    border-style: none;
    margin-top: 20px;
    font-weight: bold;
}

.form__input {
    height: 20px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(183 183 183);
}