.form__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.form__input-wrapper {
    display: flex;
    min-width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.form__signup-login {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(99 99 99);
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form__error {
    color: rgb(99 99 99);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form__button {
    display: flex;
    width: 40%;
    border-radius: 10px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #8bdbfe;
    border-style: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    min-width: 230px;
    cursor: pointer;
}

.form__input {
    height: 20px;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(183 183 183);
    margin-top: 20px;
    padding: 15px 5px;
    min-width: 230px;
}

.form__label {
    padding-right: 10px;
    color: rgb(99 99 99);
    padding: 10px;
}

.form__dropdown {
    min-width: 40px;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
}
