.logo {
    margin-top: 5vh;
    margin-bottom: 4vh;
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
