.StyledNavWrap {
    position: relative;
    display: flex;
    height: 12vh;
    width: 100%;
    background-color: #edbb3e;
    justify-content: center;
}

.StyledNavWrap:after {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    content: "";
    display: block;
    width: 100%;
    height: 10vh;
    background-image: url('../Images/waveedit.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}

.StyledNav {
    padding-top: 20px;
    list-style: none;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.StyledNav li {
    /* padding: 0 10px; */
    cursor: pointer;
}

.StyledNav a {
    color: #444341;
    margin: 10px;
    display: block;
}

a:hover {
    background-color:#fabadd;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
  }

a:link {
    text-decoration: none;
    font-size: 30px;
    padding: 30px;
    color: rgb(99 99 99);
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.navbar-links-item {
    padding-right: 5rem;
}

ul {
    padding: 0px;
}
