.StyledNavWrap {
    position: relative;
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: #edbb3e;
}
.StyledNavWrap:after {
    position: absolute;
    top: 100%;
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    background-image: url('../Images/waveedit.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.StyledNav {
    list-style: none;
    display: flex;
}

.StyledNav li {
    padding: 0 10px;
}
.StyledNav a {
    color: h;
}
.navbar-links-item {
    padding-right: 5rem;
}

