table {
    border-collapse: collapse;
    border-radius: 20px;
    -webkit-border-radius: 10px;
}

.table__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    min-width: 300px;
}

.table__row-head {
    min-height: 60px;
    text-align: center;
    font-size: 22px;
    color: rgb(99 99 99);
}

.table__row-head th {
    padding: 15px 40px;
    min-height: 40px;
    font-weight: bold;
    border-bottom: 0.5px solid grey;
}

td {
    text-align: center;
    border-bottom: 0.5px solid grey;
    border-left: none;
    border-right: none;
    align-items: center;
    align-content: center;
    font-size: 18px;
}

.table__send-dingdong {
    min-width: 40px;
    padding-top: 20px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.table__button {
    display: flex;
    width: 20%;
    border-radius: 10px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #edbb3e;
    border-style: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    min-width: 200px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
